<h1> Prueba de todos los componentes en Angular</h1>

<app-autocomplete> </app-autocomplete>
<h2>2. Prueba de app-badge</h2>
<app-badge></app-badge>
<br>
<h2>3. Prueba de bottonsheet</h2>
<app-bottonsheet></app-bottonsheet>
<br>
<h2>4. Prueba de button</h2>
<app-button></app-button>
<br>
<h2>5. Prueba de Button toggle</h2>
<app-buttontoggle></app-buttontoggle>
<br>
<h2>6. Prueba de Card</h2>
<app-card></app-card>
<h2>7. Prueba de Check Box</h2>
<app-checkbox></app-checkbox>
<h2>8. Prueba de Chips</h2>
<app-chips></app-chips>
<h2>9. Prueba de Date Picker</h2>
<app-datepicker></app-datepicker>
<h2>10. Prueba de Dialog</h2>
<app-dialog></app-dialog>
<h2>11. Prueba de Divider</h2>
<app-divider></app-divider>
<h2>12. Prueba de Expansion Panel</h2>
<app-expansionpanel></app-expansionpanel>
<h2>13. Prueba de Form Field</h2>
<app-formfield></app-formfield>
<h2>14. Prueba de Gried List</h2>
<app-gridlist></app-gridlist>
<h2>15. Prueba de Icon</h2>
<app-icon></app-icon>
<h2>16. Prueba de Input</h2>
<app-input></app-input>
<h2>17. Prueba de List</h2>
<app-list></app-list>
<h2>18. Prueba de Menu</h2>
<app-menu></app-menu>
<h2>19. Prueba de Paginator</h2>
<app-paginator></app-paginator>
<h2>20. Prueba de Pogress Bar</h2>
<app-progressbar></app-progressbar>
<h2>21. Prueba de Pogress Spinner</h2>
<app-progressspinner></app-progressspinner>
<h2>22. Prueba de Radio Button</h2>
<app-radiobutton></app-radiobutton>
<h2>23. Prueba de Ripples</h2>
<app-ripples></app-ripples>
<h2>24. Prueba de Select</h2>

<app-select></app-select>
<h2>25. Prueba de SideNav</h2>
<app-sidenav></app-sidenav>
<h2>26. Prueba de Slider</h2>
<app-slider></app-slider>
<h2>27. Prueba de Slide Toggle</h2>
<app-slidetoggle></app-slidetoggle>
<h2>28. Prueba de SnackBar</h2>
<app-snackbar></app-snackbar>
<h2>29. Prueba de Sortheader</h2>
<app-sortheader></app-sortheader>
<h2>30. Prueba de Stepper</h2>
<app-stepper></app-stepper>
<h2>31. Prueba de Table</h2>
<app-table></app-table>
<h2>32. Prueba de Tabs</h2>
<app-tabs></app-tabs>
<h2>33. Prueba de Toolbar</h2>
<app-toolbar></app-toolbar>
<h2>34. Prueba de Tooltip</h2>
<app-tooltip></app-tooltip>
<h2>35. Prueba de Tree</h2>
<app-tree></app-tree>
